
/*====MAIN CONTENT-MOBILE FIRST====
==========SECTION HEADINGS==========*/

h1 {
  font-size: 2em;
  text-align: center;
  color: pink;
}

h3 {
  font-size: 1.5em;
  color: orangered;
  text-align: right;
  margin-right: 1em;
}

h3 {
  color: black;
  font-size: 2em;
}

p {
  font-size: 1em;
  color: black;
  text-align: right;
  margin-right: 1em;
}

/*====HEADER====*/

header img{
  width: 100%;
  height: 70%;
  margin-top: .1em››;
  margin-bottom: .5em;
  border: none;
}

.head {
  width: 100%;
  height: 100%;
  margin: 0px;
  outline: 1px solid white;
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.8));
}

/*====MOOVIT WIDGET====*/


.mv-gd-widget-20 img{
  border: none;
  height: 50%;
  width: 50%;
  background: none;
  outline: 2pz solid orange;
}

.mv-gd-widget-20 {
  display: flex;
  margin: auto;
}

.transit {
  width: 70%;
  outline: 2px solid red;
}

.transit h1{
  text-align: center;
  font-size: 2em;
  color: black;
}

/*=======CONTAINERS============*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: auto;
  background-color: lightgray;
  border-radius: 10%;
  outline: 2px solid magenta;
  margin-bottom: 30px;
}

.hotel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  height: 50px;
  width: 75%;
  background-color: lightgray;
  border-radius: 10%;
  outline: 3px solid gold;
}


/*===============NAVBAR===================*/
li {
  list-style: none;
}

.navcontainer {
  width: 100%;
  display: flexbox;
  padding: 0px;
  outline: 2px solid green;
}


.stickynav {
  width: 100%;
  height: 100%;
  display: flex;
  position: sticky;
  top: 0;
  outline: 2px solid blueviolet;
}

.nav {
  list-style-type: none;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.8));
  top: 0;
  font-size: 30px;
  margin-bottom: 1em;
  outline: 3px solid silver;
}

nav {
  float: left;
  width: 100%;
  text-align: center;
}

li a {
  display: block;
  font-family: 'Laila', serif;
  font-size: .8em;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  padding: 1px 1px;
  text-decoration: none;

}

.stickynav a:hover {
  background-color:silver;
  padding: 20px;
  color: black;
  /*outline: 5px solid green;*/
}

/*Making the Navbar have a hover feature over active text*/
.active {
  background: linear-gradient(rgba(0,0,0, .1), rgba(33, 27, 88, 0.4));
  color: black;
  padding-left: 10px;
  padding-right: 15px;
  outline: 2px solid red;
}

/*====SLIDESHOW====*/

* {
  box-sizing: border-box
}
body {
  font-family: Verdana, sans-serif; 
  margin: auto;
  background: url(https://cdn.pixabay.com/photo/2016/09/16/21/46/background-1675212_960_720.jpg);
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 230px;
  position: relative;
  margin: auto;
  outline: 2px solid pink;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: -20px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -25px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: -25px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(0, 50, 56);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*====RESOLUTION CHANGES*/

@media only screen and(min-width: 300) and (max-width: 600px) {
  .slideshow-container {
    width: 75%;
    position: relative;
    margin: 1em;
    outline: 5px solid pink;
  }
}

